<%- include layouts/header.ejs %>
    <div class="container">
        <h1>
            <%= title %>
        </h1>

        <div class="row">
            <% for(var i=0;i<Producto.length;i++) {%>
                <div class="col-sm-6">
                    <div class="card">
                        <img src="<%=Producto[i].imagen%>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%=Producto[i].titulo%>
                            </h5>
                            <h4>
                                $
                                <%=Producto[i].precio%>
                            </h4>
                            <p class="card-text">
                                <%=Producto[i].descripcion%>
                            </p>
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
                <% } %>

        </div>
    </div>
    <%- include layouts/footer.ejs %>